<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"> 
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.phptravells.script.LoginPage"/>  <!-- loginpage class -->
			<class name="com.phptravells.script.CarFirstBookingPayArrival"/>  <!--CarFirstBookingPayArrival class  -->
			<class name="com.phptravells.script.CarTwoBooking"/>   <!--CarTwoBooking class -->
			<class name="com.phptravells.script.CarBookPayNow"/>    <!--CarBookPayNow  class -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->




