<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"> 
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.phptravells.script.LoginPage"/>
			<class name="com.phptravells.script.CarFirstBookingPayArrival"/>
			<class name="com.phptravells.script.CarTwoBooking"/>
			<class name="com.phptravells.script.CarBookPayNow"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->




